<!DOCTYPE html>
<html>
<head>
    <title>Plots</title>

        <meta charset="UTF-8">
        <title>Stock Data Visualization</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.0.1"></script>
 
</head>
<body>
    <h1>Stock anaylsis Short term</h1>

    <div>
    <h1>Top Performers of the Past month</h1>
    
    <img src="data:image/png;base64,{{ plot_url_20 }}" alt="Plot 10 Days">
    </div>
    <div>
    <h1>Top Looser of the Past month</h1>
    <img src="data:image/png;base64,{{ plot_url_20N }}" alt="Plot 10 Days">
    </div>
    <div>
    <h1>Top Performers of the Past Year</h1>
    <img src="data:image/png;base64,{{ plot_url_240 }}" alt="Plot 240 Days">
    </div>
    <div>
    <h1>Top Looser of the Past Year</h1>
    <img src="data:image/png;base64,{{ plot_url_240N }}" alt="Plot 240 Days">
</div>
</body>
</html>